@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-2">
          <a href="~/Upload/Index" class="btn btn-outline-success btn-lg">Inicio</a>
      
        </div>
        <div class="col-lg-2">
            <button type="button" class="btn btn-outline-success btn-lg">Probar</button>
        </div>
    </div>
</div>
<br />

@section scripts
{

    <script type="text/javascript">
       
    </script>


}

